<p>register works!</p>
<form class="form">
Employee ID:
<input type="number" name="" id="" [(ngModel)]="emp.eid" [ngModelOptions] = "{standalone: true}">
Employee Name:
<input type="name" name="" id="" [(ngModel)]="emp.ename" [ngModelOptions] = "{standalone: true}">
Salary:
<input type="number" name="" id="" [(ngModel)]="emp.Salary" [ngModelOptions] = "{standalone: true}">
Date Of Joining:
<input type="date" name="" id="" [(ngModel)]="emp.doj" [ngModelOptions] = "{standalone: true}">
<input type="submit" value="Regsiter" (click)="add()">
</form>
